<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy Valentine's Day</title>
<!--     <link rel="stylesheet" href=-->
<!--"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->

<!--    <script src=-->
<!--"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">-->
<!--    </script>-->

<!--    <script src=-->
<!--"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">-->
<!--    </script>-->

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style>
        h1, h2, h3 {
            text-align: center;
            color: #F62217;
        }
        .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
}

 img    {
        display: block;
        margin-left: auto;
        margin-right: auto;

 }
    </style>


</head>
<body>


<h1>Happy Valentine's Day!</h1>
<hr>

 <div class="container">
         <img  src= "{{ url_for('static', filename='images/roses.jpg')}}" height="400" width="300">

    </div>

</body>
</html>

