<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy Valentine's Day</title>
<!--     <link rel="stylesheet" href=-->
<!--"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->

<!--    <script src=-->
<!--"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">-->
<!--    </script>-->

<!--    <script src=-->
<!--"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">-->
<!--    </script>-->

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">



    <style>
        h1, h2, h3 {
            text-align: center;
            color: #B73239;
        }
     .backback {
           color: #F62217;
     }

        .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
}

 img    {
        display: block;
        margin-left: auto;
        margin-right: auto;

 }

  .ptext {font-family: 'Lato', sans-serif;}
    </style>


</head>
<body>


<h1>To Lark</h1>

 <div class="container">
         <img  src= "{{ url_for('static', filename='images/roses.jpg')}}" height="400" width="300">
    </div>
<hr>

 <div class="container">
         <img  src= "{{ url_for('static', filename='images/spacer.jpg')}}" height="50" width="300">
    </div>





  <div class="row">
    <div class="col-md-6">

      <h3>March 13, 11:30 pm</h3>

<p class="ptext">At the risk of being exposed as a fraud right ouf of the gate, I shall begin with something of a clarification of "technical write/edit."</p>

<p class="ptext">Let's start here: I consider a "technical writer/editor" to be someone whose professional life consists entirely of analyzing and vulgarizing complicated, detailed -- probably-technological -- information, processes, procedures. The only time I came close to that was in France one summer when I edited a not-so-lengthy, illustrated description of the process of manufacturing cement.</p>

<p class="ptext">For several years, part of my work was writing documentation (well, the code also) for a medium-sized (we'll talk definitions later) computer program/system. Before that, I wrote/edited a significant amount of text as part of my work for a few years in the legal business. Profession. Whatever. This probably really doesn't count, but I made serious (not the same as extensive) editorial improvements in my sister-in-law's dissertation.</p>

<p class="ptext">Finally: Trying always to minimize the appearance, at least, of jerk-i-ness and gascon-ity, I would [never] respond mercilessly to a disappointment of yours (e.g., the college tech-write class), but I will make an exception this time, for considerations of brevity and necessity: I took a university technical writing course about 25 years ago. The final project assigned to me was something about surface water and control of it. Or something. The assignment involved text, diagrams, and data charts. Here is what I would [never] say to you: The professor asked whether she could keep mine, as the example for future generations of how it should be done.</p>

<p class="ptext">In sum: I judged that identifying myself as a "software developer," for example, would be misleading as to my personality and nature, since I care a lot more about William Faulkner than Dennis Ritchie. While literally accurate, it is also too narrow. And in recent times (we'll talk definitions later) I have been mostly reading Spanish literature (and some Mexican history), and my plan for Next Creative Product involves translating a yet-to-be-decided Mexican writer's short story (i.e., not poem, not novel, yet), for publication in a yet-to-be-decided small magazine.</p>

        <p class="ptext">So. What, oh what, do you write? Talk to me.</p>





    </div>

  </div>
</div>



</body>
</html>

