<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Necklaces</title>
<!--     <link rel="stylesheet" href=-->
<!--"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->

<!--    <script src=-->
<!--"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">-->
<!--    </script>-->

<!--    <script src=-->
<!--"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">-->
<!--    </script>-->

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style>
        h1, h2, h3 {
            text-align: center;
            color: darkgoldenrod;
        }
    </style>


</head>
<body>
<h1>Sassy-Cats Designs</h1>
<h3>Necklace collection 2021</h3>
<hr>


 <div class="container">
     <table>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N1.jpg')}}" height="400" width="300">
            </td>
            <td>
                 <h3>Design #1</h3>  Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br />
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N3.jpg')}}" height="400" width="300">
            </td>
            <br />
            <td>
                 <h3>Design #3</h3>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</td>
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N5.jpg')}}" height="400" width="300">
            </td>
            <td>
                <h3>Design #5</h3>  Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N8.jpg')}}" height="400" width="300">
            </td>
            <td>
               <h3>Design #8</h3>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N9.jpg')}}" height="400" width="300">
            </td>
            <td>
                <h3>Design #9</h3>  Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N10.jpg')}}" height="400" width="300">
            </td>
            <td>
               <h3>Design #10</h3>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N12.jpg')}}" height="400" width="300">
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/N14.jpg')}}" height="255" width="202">
            <br />

                <h3>Design #12/14</h3>  Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N13.jpg')}}" height="400" width="300">
            </td>
            <td>
                <h3>Design #13</h3>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N16.jpg')}}" height="400" width="300">
            </td>
            <td>
                <h3>Design #16</h3>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N17.jpg')}}" height="400" width="300">
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/N19.jpg')}}" height="75" width="202">
            <br />
                <h3>Design #17/19</h3>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N18.jpg')}}" height="400" width="300">
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/N20.jpg')}}" height="270" width="202">
            <br />
                <h3>Design #18/20</h3>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N21.jpg')}}" height="400" width="300">
            </td>
            <td>
                <h3>Design #21</h3>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/spacer.jpg')}}" height="280" width="210">
            </td>
        </tr>

        <tr>
            <td>
                <img  src= "{{ url_for('static', filename='images/N23.jpg')}}" height="400" width="300">
            </td>
            <td>
                <img  src=  "{{ url_for('static', filename='images/N22.jpg')}}" height="270" width="202">
            <br />
                <h3>Design #23/22</h3>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
        </tr>

    </table>

    </div>

</body>
</html>